<h1><%= current_user.username %>'s Profile</h1>

<%= erb :'questions/_new_question'%>

  <div class='question-container'>
    <% @questions.each do |question| %>

      <h2><a href='/question/<%= question.id %>'><%= question.title%></a></h2>

      <span class='author'>By: <%= question.user.username %></span>
      <br>
      <!-- Logic for votes here -->

      <% if question.user_id == current_user.id %>
      <a href="/question/<%= question.id %>/edit">Edit</a>
        <form id="delete-form" method= "post" action="/questions/<%=question.id%>">
          <input type="hidden" name="_method" value="DELETE">
          <input type = "submit" value = "delete">
        </form>
      <% end %>

    <% end %>
    </div>